<p id="notice"><%= notice %></p>

<p>
  <b>Name provider:</b>
  <%= @c_provider.name_provider %>
</p>


<%= link_to 'Edit', edit_c_provider_path(@c_provider) %> |
<%= link_to 'Back', c_providers_path %>
